//Google Font - Material Icons
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.crop {
  width: 200px;
  height: 200px;
  overflow: hidden;
  text-align: center;

  img {
    height: 100%;
  }

}