//TODO: Should loader be kept separate to enable showing early?
html, body {
  height: 100%;
}

.loader {
  height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.loading {
  margin: 40px auto 0;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: solid 10px rgba(0, 0, 0, 0.2);
  border-top-color: #000000;
  -webkit-animation: spin 1s infinite linear;
  -moz-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}


@-moz-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}


@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}